{% extends 'flatpages/default.html'%}

{% load custom_filters %}

{% load custom_tags %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
    <h1>{{ category.name }}</h1>
    {% if is_not_subscriber %}
        <p class="text-center">
            <a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-sm">Subcribe to category</a>
        </p>
    {% endif %}
    {% if is_in_subscriber %}
        <h2>Your are subcribed to this category</h2>
        <p class="text-center">
            <a href="{% url 'unsubscribe' category.id %}" class="btn btn-secondary btn-sm">Unsubcribe</a>
        </p>
    {% endif %}


    {% if posts %}
        <table>
            <tr>
                <td>Title</td>
                <td>DateCreation</td>
                <td>Text</td>
                <td>Category</td>
                <td>Author</td>
                {% if perms.news.change_post or perms.news.delete_post %}
                <td>Actions</td>
                {% endif %}
            </tr>

            {% for post in category_news_list %}
            <tr>
                <td>{{ post.title}}</td>
                <td>{{ post.dateCreation }}</td>
                <td>{{ post.text|truncatechars:20}}</td>
                <td>
                    {% for cat in post.postCategory.all %}
                        <a href="{% url 'category_list' cat.id %}">{{ cat.name }}</a>
                    {% endfor %}
                </td>
                <td>{{ post.author }}</td>
                <td>
                {% if perms.news.change_post and post.categoryType == 'NW' and post.author == request.user.author %}
                <a href="{% url 'news_edit' pk=post.id %}">Edit news</a>
                {% endif %}
                {% if perms.news.delete_post and post.categoryType == 'NW' and post.author == request.user.author %}
                <a href="{% url 'news_delete' post.id %}">Delete news</a>
                {% endif %}
                {% if perms.news.change_post and post.categoryType == 'AR' and post.author == request.user.author %}
                <a href="{% url 'articles_edit' pk=post.id %}">Edit article</a>
                {% endif %}
                {% if perms.news.delete_post and post.categoryType == 'AR' and post.author == request.user.author %}
                <a href="{% url 'articles_delete' post.id %}">Delete article</a>
                {% endif %}
                </td>
            </tr>
            {% endfor %}

        </table>
    {% endif %}

    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}